.PartyButton {
    position: absolute;
    bottom: 25px;
    right: 25px;
    
    width: 56px;
    height: 56px;

    background-color: black;
    background-image: url('/src/assets/party.svg');
    background-position: center;
    background-size: 32px;
    background-repeat: no-repeat;
    border-radius: 15px;

    cursor: pointer;
    transition: 0.25s background-color;
    &.openParty, &:hover {
        background-color: darkslategray;
    }
}

.PartyContainer {
    position: absolute;
    
    left: 0px;
    top: 0px;

    width: 100dvw;
    height: 100dvh;
}

.PartyBox {
    position: absolute;

    bottom: 91px;
    right: 25px;

    min-width: 240px;
    max-width: 290px;

    background-color: darkslategray;

    padding: 25px;
    border-radius: 15px;

    input[type="text"] {
        box-sizing: border-box;
        margin: 0px;

        width: 100%;

        padding: 5px;
        border: none;
        border-radius: 7px;
    }
}